@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Limelight&display=swap');
body{
    margin: 0;
    padding: 0;
    top: 0;
    background: #000;
    font-family: arial;
    color: white;
    overflow-x: hidden;
}
header{
    background: transparent;
    height: 500px;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-image: url(https://wallpaperaccess.com/full/3239444.jpg);
    background-size: cover;
    opacity: 0.25;
    z-index: -1;
}
header h1{
    font-size: 400%;
    opacity: 1;
}
header p{
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    text-align: left;
}
header a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    padding: 1%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 110%;
    margin-top: 2rem;
    transition: 0.3s ease-in-out;
}
header a:hover{
    background: black;
    color: white;
    transform: scale(1.2);
}
article#sections{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 2%;
    gap: 5%;
}
article#sections #minha-trajetoria{
    background: rgb(25, 25, 25);
    padding: 1%;
    border-radius: 20px;
    width: 60%;
}
article#sections #minha-trajetoria h2,h3{
    font-size: 250%;
    color: whitesmoke;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}
article#sections #minha-trajetoria p{
    font-size: 140%;
    text-align: justify;
}
article#sections #foto img{
    width: 100%;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    scale: 1;
}
article#sections #foto img:hover{
    transform: scale(1.05);
}
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 1%;
}
ul.box-redes-sociais {
    display: flex;
    background: transparent;
    width: 305px;
    float: none;
    margin: auto;
  
  }
  
  ul.box-redes-sociais li {
    list-style: none;
    margin: auto;
  }
  
  
  ul.box-redes-sociais li a {
    
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 22px;
    margin: 0 5px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #eaeaea;
    z-index: 1;
  }
  ul.box-redes-sociais li a .icon {
    position: relative;
    color: #262626;
    transition: .3s;
    z-index: 3;
  }
  
  ul.box-redes-sociais li a:hover .icon {
    color: #fff;
    scale:1.2; /*quando passar por cima do icone aumenta a font*/
  }
  
  ul.box-redes-sociais li a:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.4s;
    z-index: 2;
  }
  
  ul.box-redes-sociais li a:hover:before {
    top: 0;
  }
  
  ul.box-redes-sociais li.facebook a:before{
    background: #3b5999;
  }
  
  ul.box-redes-sociais li.instagram a:before{
    background:hsl(0 0% 10%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  
  ul.box-redes-sociais li.twitter a:before{
    background: #55acee;
  }
  
  ul.box-redes-sociais li.youtube a:before {
    background: #ff1d15;
  }
  ul.box-redes-sociais li.snapchat a:before{
    background: rgb(255, 252, 0);
  }
  ul.box-redes-sociais li.snapchat a:hover .icon{
      color: #0B0B09;
  }
  ul.box-redes-sociais li.github a:before{
    background-color: black;
  }
  ul.box-redes-sociais li.github a:hover .icon{
    color: white;
  }

@media (max-width: 600px) {
    header{
      flex-wrap: wrap;
      gap: 2%;
    }
    header h1{
      font-size: 200%;
    }
    header p{
      margin: 4%;
    }
    header a{
      padding: 3%;
    }
    article#sections{
      flex-wrap: wrap;
      gap: 1rem;
    }
    article#sections #minha-trajetoria{
      width: 100%;
      margin: 0%;
    }
    article#sections #minha-trajetoria h2{
      font-size: 150%;
    }
    article#sections #minha-trajetoria p{
      font-size: 100%;
    }
}
@media only screen and (max-width:1500px){
  header{
    flex-wrap: wrap;
    gap: 2%;
  }
  header h1{
    font-size: 200%;
  }
  header p{
    margin: 4%;
  }
  header a{
    padding: 3%;
  }
  article#sections{
    flex-wrap: wrap;
    gap: 1rem;
  }
  article#sections #minha-trajetoria{
    width: 100%;
    margin: 0%;
  }
  article#sections #minha-trajetoria h2{
    font-size: 150%;
  }
  article#sections #minha-trajetoria p{
    font-size: 100%;
  }
}
